@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

body{
    background: skyblue;
}

h1{
    color: white;
    padding: 18px 30px;
    font-size: 1.75rem;
    font-style: italic;
}

.container{
    display: flex;
    gap: 35px;
    padding: 30px;
}

.weather-input{
    width: 550px;
}

.weather-input input{
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 4px;
    border: 1px solid black;
}

.weather-input button{
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(32, 171, 240);
    border-radius: 4px;
    font-size: 1rem;
}

.separator{
        height: 1px;
        width: 100%;
        background-color: black;
        margin: 25px 0;
        display: flex;
        align-items: center;
        justify-content: center;
}

.separator::before{
    content: "or";
    color: black;
    font-size: 1.18rem;
    padding: 0 15px;
    background: skyblue;
    margin-top: -4px;
}

.weather-input .location-btn{
    background-color: rgb(63, 151, 145);
}

.weather-data{
    width: 100%;
}

.current-weather{
    color: white;
    border-radius: 10px;
    padding: 20px 70px 20px 20px;
    background-color: skyblue;
    display: flex;
    border: white 3px solid;
    justify-content:space-between;
}

.current-weather h2{
    font-size: 1.7rem;
}

.weather-data h4{
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.icon img{
    max-width: 80px;
    margin-top: -1px;
    color: aqua;
}

li img{
    max-width: 50px;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icon h4{
    margin-top: -10px;
    text-transform: capitalize;
}

.days-forecast h2{
    font-size:25px;
    margin: 20px 0;
    font-weight: 700;
    text-align: center;
    color: white;
}

.weather-cards{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    background: skyblue;
    height: 100%;
    border-radius: 10px;
    border: white 3px solid;
}

.weather-cards .card{
    list-style: none;
    color: white;
    padding: 18px 16px;
    border-radius: 5px;
    width: calc(100% / 5); 
}

.weather-cards .card img{
    max-width: 40px;
    margin: 5px 0 -12px 0;
}

.days-forecast{
    margin-top: 40px;
}

.note{
    margin-top: 15px;
    font-size: 13px;
    color: red;
}

@media (max-width: 1400px){
    .weather-data .current-weather{
        padding: 20px
    }

    .weather-cards{
        flex-wrap: wrap;
    }

    .card{
        width: calc(100% / 4 -15px);
    }
}

@media (max-width: 1200px){
    .card{
        width: calc(100% / 3 - 15px);
    }
}

@media (max-width: 950px){
    .weather-input{
        width: 450px;
    }
    .card{
        width: calc(100% / 2 - 10px);
    }
}

@media(max-width: 750px){
    .container{
        flex-wrap: wrap;
        padding: 15px;
    }
    .weather-input{
        width: 100%;
    }
}

